html,
body,
#root,
.App {
  height: 100%;
}

html {
  background-color: black;
}

body {
  margin: 0;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: default;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* HEADER */

.header {
  width: 100%;
  background-color: rgb(6, 33, 42);
  height: 130px;
  box-shadow: 5px 5px 10px black;
  display: flex;
}

.broom-left,
.broom-right {
  width: 400px;
  height: 100px;
  align-self: flex-end;
  padding-bottom: 10px;
}

.broom-left {
  padding-left: 10px;
}

.broom-right {
  padding-right: 10px;
}

.title-img {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 500px;
  padding-bottom: 5px;
  height: 110px;
}


/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 5px;
  justify-content: center;
  background-color: black;
}

.footer-text {
  color: rgb(157, 134, 53);
}

.footer-link,
.footer-img {
  cursor: pointer;
}

.footer-img {
  width: 30px;
}

.footer-img:hover {
  transform: scale(1.1);
}