html,
body,
#root,
.App {
  height: 100%;
}

html {
  background-color: black;
}

body {
  margin: 0;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: default;
}

.App {
  display: grid;
  grid-template-rows: 130px auto 40px;
}


/* HEADER */

.header {
  width: 100%;
  background-color: #06212a;
  height: 130px;
  box-shadow: 5px 5px 10px black;
  display: flex;
}

.broom-left,
.broom-right {
  width: 400px;
  height: 100px;
  align-self: flex-end;
  padding-bottom: 10px;
}

.broom-left {
  padding-left: 10px;
}

.broom-right {
  padding-right: 10px;
}

.title-img {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 500px;
  padding-bottom: 5px;
  height: 110px;
}


/* MAIN */

.main {
  overflow-y: scroll;
  margin: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.scores {
  position: fixed;
  left: 20px;
  top: 150px;
  font-family: 'American Typewriter', serif;
  font-size: 1.15rem;
  color: white;
  width: 156px;
  height: 74px;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  padding: 5px 12px 0 10px;
}

.current-score,
.best-score {
  display: flex;
  gap: 6px;
}

.current-score > p,
.best-score > p {
  margin: 6px 0;
}

.best-top {
  width: 127px;
  text-align: right;
}

.cards-grid {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 220px);
  justify-items: center;
  row-gap: 20px;
  padding-top: 20px;
}

.card-img {
  display: block;
  width: 180px;
  cursor: pointer;
}


/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 5px;
  justify-content: center;
  background-color: black;
}

.footer-text {
  color: rgb(157, 134, 53);
}

.footer-link,
.footer-img {
  cursor: pointer;
}

.footer-img {
  width: 30px;
}

.footer-img:hover {
  transform: scale(1.1);
}



@media screen and (max-width: 500px) {

  .App {
    grid-template-rows: 70px auto 40px;
  }

  .header {
    height: 70px;
  }

  .title-img {
    width: 250px;
    height: 55px;
  }

  .broom-left,
  .broom-right {
    display: none;
  }

  .scores {
    top: auto;
    bottom: 50px;
    font-size: 0.75rem;
    width: 100px;
    height: 50px;
    padding: 3px 5px 0 6px;
  }
  
  .current-score,
  .best-score {
    gap: 4px;
  }
  
  .current-score > p,
  .best-score > p {
    margin: 4px 0;
  }
  
  .best-top {
    width: 127px;
    text-align: right;
  }
  
  .cards-grid {
    grid-template: repeat(4, 1fr) / repeat(3, 110px);
    row-gap: 10px;
  }

  .card-img {
    width: 100px;
  }
}